@{
    ViewData["Title"] = "Reset Password";
}
@model BachelorsHome.Models.UserDatabase

@if (ViewBag.Notification != null)
{
    @if (ViewBag.Notification == "Invalid")
    {
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <label>Invalid Email</label>
            </div>
        </div>
        ViewBag.Notification = "";
    }
    else if (ViewBag.Notification == "Success")
    {
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <label>Your password has been sent to your email</label>
            </div>
        </div>
        ViewBag.Notification = "";
    }
}
<div class="container">

    <div class="row1">
        <div class="resetpass">
            <form asp-action="ResetPassword">
                <div class="form-group">

                    <div class="col-md-8">
                        <input asp-for="Email" type="email" class="form-control" required="" placeholder="Enter Your Email:">

                    </div>
                </div>
                <div class="resetemail-form-submit">
                    <button type="Submit" class="btn loginbutton" name="">Recover Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
