@{
    ViewData["Title"] = "About Us";
}

<div class="row pb-3">

</div>
<div class="text-center pb-4">

    <h2 class="pb-5">About Us</h2>

    <h3>Live  Happily, We help you</h3>
    <h3>
        to find home
    </h3>

</div>

<div class="text-center">
    <p class="aboutus-text">
        Search Bachelors House for Rent, Get Results Instantly.Information 24/7.<br />

        Direct Messaging Option. Web,Images and Video.Trusted by Millions.
    </p>
</div>


<div class="row">

    <div class="col-md-1"></div>

    <div class=" = developer-box">
        <div class="developer-logo">
            <img class="developer-pic" src="~/Images/fahmid.jpg" />
        </div>
        <h4 class="text-center pb-2">Fhamid Muttaki</h4>
        <p class="feature-text">170204058</p>
        <p class="feature-text">170204058@aust.edu</p>
    </div>





    <div class=" = developer-box">
        <div class="developer-logo">
            <img class="developer-pic" src="~/Images/ashik.jpg" />
        </div>
        <h4 class="text-center pb-2">Ashiqul Islam</h4>
        <p class="feature-text">170204070</p>
        <p class="feature-text">170204070@aust.edu</p>
    </div>




    <div class=" = developer-box">
        <div class="developer-logo">
            <img class="developer-pic" src="~/Images/alam.jpg" />
        </div>
        <h4 class="text-center pb-2">Alam Khan</h4>

        <p class="feature-text">170204084</p>
        <p class="feature-text">170204084@aust.edu</p>
    </div>



</div>
