@{
    ViewData["Title"] = "Home Page";
}


<div class="row1 pb-3">
    <img  class="homepagepic" src="~/Images/homePic.png" />
</div>
<div class="text-center pb-4">

    <h3>Key Features</h3>

</div>

<div class="row1">

    <div class="col-md-1"></div>

    <div class=" = feature-box">
        <div class="feature-logo">
            <img class="feature-pic" src="~/Images/455.png" />
        </div>
        <h4 class="text-center pb-5">Find Your Expected House</h4>
        <p class="feature-text">
            Bachelors Home using the idea of sharing room. which will help You not to search room/seat by walking street to
            street in search of To-let ; our website helps you to find your suitable room/seat in your desired location from wherever you are, saving your valuable time
        </p>
    </div>





    <div class=" = feature-box">
        <div class="feature-logo">
            <img class="feature-pic" src="~/Images/462.png" />
        </div>
        <h4 class="text-center pb-5">No Commission Fee</h4>
        <p class="feature-text">
            We do not charge any money for searching room in our website.  We try to make a change in our society, save time for bachelors and new comer and find a best room easily and comfortably using our site. That is our main motive.

        </p>
    </div>




    <div class=" = feature-box">
        <div class="feature-logo">
            <img class="feature-pic" src="~/Images/466.png" />
        </div>
        <h4 class="text-center pb-3">Give Advertise to Get Bachelors Roommate</h4>

        <p class=" = feature-text">
            In this site any registered user can post or give advertisement of sharing room with room details, specification , location and upload photo; we try to keep uploaded photo as same resulation.
        </p>
    </div>

    



</div>

<div class="row1 space2"> </div>


